# Created by pytest automatically.
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

.pytest_cache/

# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
.venv_pre_release/
__pycache__/
.mypy_cache/
.ruff_cache/

# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/

# Data files from tutorial
docs/notebooks/data/*
